body{
	color: #FFBB77;
	background: url("../assets/back.jpg") no-repeat center center fixed;
	background-size: cover;
	position: relative;
}

.my-name{
	color: #FF7F9F;
	text-transform: uppercase;
}

h1{
	font-size: 55px;
	letter-spacing: 10px;
	padding-top: 100px;
}

h2{
	letter-spacing: 3px;
}

h3{
	letter-spacing: 5px;
}

.big{
	Letter-spacing: 5px;
	font-size: 30px;
	font-weight: bold;
}

#headband{
	background-color: rgba(15, 15, 15, .80);
}

#meat{
	background-color: rgba(74, 113, 205, .80);
}

.title{
	font-weight: bold;
	Letter-spacing: 2px;
	font-size: smaller;
}

.padbot{
	padding-bottom: 25px;
}

.padtop{
	padding-top: 25px;
}
