body{
	background: #ffffaa;
	color: #ffffaa;
}

.my-name{
	color: red;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h1{
	font-size: 55px;
	letter-spacing: 10px;
	padding-top: 100px;
}

h2{
	letter-spacing: 3px;
}

h3{
	letter-spacing: 5px;
}

.big{
	Letter-spacing: 5px;
	font-size: 30px;
	font-weight: bold;
}

#headband{
	background-color: #0f0f0f;
}

#meat{
	background-color:#7F2113;
}

.title{
	font-weight: bold;
	Letter-spacing: 2px;
	font-size: smaller;
}
